<body>
    <div class="main-wrapper" *ngIf="data">
            <div class="col1">
                <div class="info-wrapper-top">
                    <div class="info" style="font-size: 30px; line-height: 30px;">{{data.location}}</div>
                    <div class="info" style="font-size: 20px; line-height: 20px;">{{data.dt}}</div>
                    <div class="info" style="font-size: 100px; line-height: 100px;">{{data.current.temp}} &deg;C</div>
                    <div class="info" style="font-size: 25px; line-height: 25px;">{{data.current.max}}&deg;C / {{data.current.min}}&deg;C</div>
                    <div class="info" style="font-size: 20px; line-height: 20px;">Feels like {{data.current.feels_like}} &deg;C</div>
                </div>
                <div class="info-wrapper-bottom">
                    <div style="flex-grow: 1;">
                        <div>Humidity</div>
                        <div>Precipitation</div>
                        <div>Pressure</div>
                        <div>Wind</div>
                    </div>
                    <div style="text-align: right;">
                        <div>{{data.current.humidity}}</div>
                        <div>{{data.current.rain}}</div>
                        <div>{{data.current.pressure}}</div>
                        <div>{{data.current.wind_speed}}</div>
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="col2">
                <div class="heading">
                    <div>Today</div>
                    <div>Forecast</div>
                </div>
                <div class="today"></div>
                <div class="forecast"></div>
            </div>
    </div>
    <!-- <div class="container" *ngIf="data">
        <div class="row row-1">
            <div class="infoCard1 col-lg-4">
                <div class="row location">
                    {{data.location}}
                </div>
                <div class="row">
                    {{data.dt}}
                </div>
                <div class="row curr-temp">
                    {{data.current.temp}} &deg;C
                </div>
                <div class="row">
                    Feels like {{data.current.feels_like}} &deg;C
                </div>
                <div class="row">
                    <img src="./assets/static/{{data.current.weather.icon}}.png">
                </div>
                <div class="row">
                    {{data.current.weather.description | titlecase}}
                </div>
            </div>
            <div class="col graph-wrapper">
                <div style="height: 50%;">
                </div>
                <div style="height: 50%;">
                    <canvas id="chart" baseChart height="50" width="200" 
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"                      
                      [chartType]="lineChartType"
                      [plugins]="plugin">
                    </canvas>
                  </div>
            </div>
        </div>
        <div class="row-2 forecast-wrapper">
            <div class="forecast-tile" *ngFor="let item of data.daily">
                <div>
                    {{item.date}}
                </div>
                <div style="padding: 15px 0;">
                    <img src="./assets/static/{{item.weather.icon}}.png" height="50px">
                </div>
                <div style="font-size: 1rem">
                    {{item.temp.max}}&deg; / {{item.temp.min}}&deg;
                </div>  
            </div>
        </div>

        
    </div> -->
</body>
