<body>
    <div class="container" *ngIf="data">
        <div class="row row-1">
            <div class="infoCard1 col-lg-4">
                <div class="row">
                    {{data.location}}
                </div>
                <div class="row">
                    {{data.dt}}
                </div>
                <div class="row curr-temp">
                    {{data.current.temp}} &deg;C
                </div>
                <div class="row">
                    Feels like {{data.current.feels_like}} &deg;C
                </div>
                <div class="row">
                    <div class="col">
                        <img src="{{data.current.weather.icon}}">
                    </div>
                    <div class="col" style="text-align: right;">
                        {{data.current.weather.description | titlecase}}
                    </div>
                </div>
                <div class="row details" >
                    <span>Humidity</span>
                    <span>{{data.current.humidity}}%</span>
                </div>
                <div class="row details" *ngIf="data.current.rain!=0">
                    <span>Rain</span>
                    <span>{{data.current.rain}}</span>
                </div>
                <div class="row details" *ngIf="data.current.snow!=0">
                    <span>Snow</span>
                    <span>{{data.current.snow}}</span>
                </div>
            </div>
            <div class="col graph-wrapper">
                <div style="height: 50%;">
                </div>
                <div style="height: 50%;" *ngIf="data.hourly.temp.length>0 && data.hourly.time.length>0">
                    <canvas baseChart height="50" width="200" 
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"                      
                      [chartType]="lineChartType">
                    </canvas>
                  </div>
            </div>
        </div>
        <div class="row-2 forecast-wrapper">
            <div class="forecast-tile" *ngFor="let item of data.daily">
                <div>
                    {{item.date}}
                </div>
                <div style="padding: 15px 0;">
                    <!-- <img src="{{item.weather.icon}}"> -->
                    <img src="assets/static/{{item.weather.icon}}.png" height="50px">
                </div>
                <!-- <div>
                    {{item.weather.main | titlecase}}
                </div>   -->
                <div style="font-size: 1rem">
                    {{item.temp.max}}&deg; / {{item.temp.min}}&deg;
                </div>  
                <!-- <div>
                    {{item.temp.min}} &#8451;
                </div>             -->
            </div>
        </div>

        
    </div>
</body>
