@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');

/* body{   
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    -image: url(../../assets/static/landscape1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
    background-size: cover;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}

.container{
    font-size: 1.2rem;
}

.row{
    justify-content: center;
    align-items: center;
    margin: 0;
}
.infoCard1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff42;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 35%), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    height: 350px;
    border-radius: 50%;
}

.details{
    justify-content: space-between;
    padding: 0 15px;
}

.curr-temp{
    font-size: 4rem;
}

.forecast-wrapper{
    color: white;
    width: 100%;
    background-color: #0000008c;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 35%), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 15px;
    padding: 20px;
}

.forecast-tile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graph-wrapper{
    background-color: #0000008c;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 35%), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    height: 350px;
}

.location{
    font-size: 2rem;
}

.animate {
    animation: animation 1s infinite alternate linear;
  }
  
  @keyframes animation {
    from {
      transform: scale(1.2);
    }
    to {
      transform: scale(1.0);
    }
  } */

  .body{
      margin: 0;
      padding: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Seaweed Script', cursive;
  }

.main-wrapper{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Seaweed Script', cursive; */
    width: 900px;
    height: 600px;
    display: flex;
    margin-top: 100px;
    background-image: url('../../assets/static/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: black;
    border: 1px solid lightgray;
    /* box-shadow: 0 4px 8px 0 rgb(87, 87, 87), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.col1{
    height: 600px;
    padding: 40px;
    width: 60%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col2{
    width: 40%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.56);
}

.info-wrapper-bottom{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    font-size: 20px;
}

.info{
    padding: 5px 0;
}