@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap');

/* body{   
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    -image: url(../../assets/static/landscape1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
    background-size: cover;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}

.container{
    font-size: 1.2rem;
}

.row{
    justify-content: center;
    align-items: center;
    margin: 0;
}
.infoCard1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff42;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 35%), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    height: 350px;
    border-radius: 50%;
}

.details{
    justify-content: space-between;
    padding: 0 15px;
}

.curr-temp{
    font-size: 4rem;
}

.forecast-wrapper{
    color: white;
    width: 100%;
    background-color: #0000008c;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 35%), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 15px;
    padding: 20px;
}

.forecast-tile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graph-wrapper{
    background-color: #0000008c;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 35%), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    height: 350px;
}

.location{
    font-size: 2rem;
}

.animate {
    animation: animation 1s infinite alternate linear;
  }
  
  @keyframes animation {
    from {
      transform: scale(1.2);
    }
    to {
      transform: scale(1.0);
    }
  } */

  .body{
      margin: 0;
      padding: 0;
  }

.main-wrapper{
    font-family: 'Poppins', sans-serif;
    width: 900px;
    height: 650px;
    display: flex;
    background-image: url('../../assets/static/bg.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    /* background-color: black; */
    border: 1px solid lightgray;
    box-sizing: content-box;
}

.col1{
    height: 650px;
    padding: 40px;
    width: 60%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col2{
    width: 40%;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.56);
    color: white;
    position: relative;
    overflow: hidden;
}

.info-wrapper-top{
    font-weight: 300;
}

.info-wrapper-bottom{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    font-size: 20px;
    font-weight: 100;
}

.info{
    padding: 5px 0;
    line-height: 1em;
}

.heading{
    display: flex;
    background-color: rgba(255, 5, 209, 0.21);
    font-weight: 100;
}

.heading-tab{
    width: 50%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.heading-tab:hover{
    background-color: #ffbdff3d;
}

.today{
    padding: 20px;
}

.desc{
    display: flex;
    justify-content: space-between;
}

.desc-text{
    font-weight: 300;
    line-height: 50px;
    padding: 10px;

}

.chart{
    width: 430px;
    height: 220px;
    /* transform: rotate(-90deg) translate(-150px, 17px);
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center; */
    transform: rotate(-90deg);
    position: absolute;
    bottom: 95px;
    right: -108px;
}

.chart-info-wrapper{
    height: 455px;
    margin-top: 10px;
    display: flex;
    font-size: 12px;
    font-weight: 100;
    justify-content: space-between;
}

.chart-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px;
}

.forecast{
    display: flex;
    flex-direction: column;
}

.forecast-tile{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.forecast-tile div{
    display: flex;
    align-items: center;
}

.forecast-tile:hover{
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}

.active{
    background-color: rgba(255,255,255,0.2);
}

.footer{
    font-size: 12px;
    font-weight: 100;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.footer a{
    color: white;
}

.activeTab{
    background-color: #ffbdff3d;
}

@media only screen and (max-width : 900px){
    .main-wrapper{
        width: 100vw;
    }
}

@media only screen and (max-width : 768px){
    .main-wrapper{
        height: auto;
        background-image: none;
        flex-direction: column;
        background-color: none;
        /*background-size: auto;
        background-position: 6% -554%;
    background-attachment: fixed; */
    }
    .col1{
        width: 100%;
        height: auto;
        margin-top: 330px;
    }
    .col2{
        width: 100%;
    }
}
